{% extends "admin/base/base.html.twig" %}

{% block content %}
    <div class="w-50">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Settings</h1>
            </div>
        <form class="row" action="" method="post">
            <div class="mb-3">
                <label for="formFile" class="form-label">Logo</label>
                <input class="form-control" type="file" id="formFile" name="logo">
            </div>
            <div class="mb-3">
                <label for="facebook" class="form-label">Facebook</label>
                <input type="text" class="form-control" id="facebook" placeholder="{{ settings.facebook }}" name="facebook">
            </div>
            <div class="mb-3">
                <label for="twitter" class="form-label">Twitter</label>
                <input type="text" class="form-control" id="twitter" placeholder="{{ settings.twitter }}" name="twitter">
            </div>
            <div class="mb-3">
                <label for="instagram" class="form-label">Instagram</label>
                <input type="text" class="form-control" id="instagram" placeholder="{{ settings.instagram }}" name="instagram">
            </div>
            <div class="mb-3">
                <label for="youtube" class="form-label">Youtube</label>
                <input type="text" class="form-control" id="youtube" placeholder="{{ settings.youtube }}" name="youtube">
            </div>
            <div class="mb-3">
                <label for="linkedin" class="form-label">Linkedin</label>
                <input type="text" class="form-control" id="linkedin" placeholder="{{ settings.linkedin }}" name="linkedin">
            </div>
            <div class="mb-3">
                <label for="copyright" class="form-label">Copyright</label>
                <input type="text" class="form-control" id="copyright" placeholder="{{ settings.copyright }}" name="copyright">
            </div>
            <div class="mb-3">
                <label for="newslatter" class="form-label">Newslatter</label>
                <input type="text" class="form-control" id="newslatter" placeholder="{{ settings.newslatter }}" name="newslatter">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="{{ settings.address }}" name="address">
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">Mail</label>
                <input type="email" class="form-control" id="mail" placeholder="{{ settings.mail }}" name="mail">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="{{ settings.phone }}" name="phone">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">About</label>
                <textarea id="editor" name="about">{{ settings.about }}</textarea>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}